{% extends 'components/charts/_base_chart.html' %}
{% block head_extra %}
    {% if data.direction == 'horizontal' and data.background_image %}
    <style>
        body { padding: 0; }
        #{{ data.chart_id }} {
            width: 1000px; height: 1000px; border-radius: 0; box-shadow: none;
            position: relative; overflow: hidden;
            padding: 40px;
            box-sizing: border-box;
        }
        #{{ data.chart_id }}::before {
            content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0;
            background-image: url("{{ theme.asset('bar_chart/background/' + data.background_image) }}");
            background-repeat: no-repeat; background-size: cover;
            filter: blur(8px) brightness(0.7);
            z-index: -1;
            transform: scale(1.1);
        }
    </style>
    {% endif %}
{% endblock %}

{% block body_content %}
<div id="{{ data.chart_id }}" class="chart-container" style="width: 1000px; height: 1000px;"></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('{{ data.chart_id }}'));
    var option = {
        grid: { left: '1%', right: '5%', top: '10%', bottom: '5%', containLabel: false },
        title: {
            text: {{ data.title | tojson }},
            left: 'center',
            top: 20,
            textStyle: {
                color: '#FFFFFF',
                fontSize: 32,
                fontWeight: 'bold',
                fontFamily: 'AlibabaHealthFont2, sans-serif',
                textShadowColor: 'rgba(0, 0, 0, 0.5)',
                textShadowBlur: 5,
                textShadowOffsetX: 2,
                textShadowOffsetY: 2
            }
        },
        xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01],
            axisLabel: { show: false },
            axisLine: { show: false },
            splitLine: { show: false }
        },
        yAxis: {
            type: 'category',
            data: {{ data.category_data | tojson }},
            show: false
        },
        series: [{
            type: 'bar',
            data: {{ data.data | tojson }},
            label: {
                show: true,
                position: 'insideLeft',
                padding: [0, 0, 0, 10],
                color: '#fff',
                fontSize: 16,
                fontWeight: 'bold',
                textShadowColor: 'rgba(0, 0, 0, 0.8)',
                textShadowBlur: 2,
                formatter: function (params) {
                    return params.name + '    ' + params.value;
                }
            },
            itemStyle: {
                borderRadius: [0, 5, 5, 0],
                color: new echarts.graphic.LinearGradient(0, 0, 1, 0, [
                    { offset: 0, color: '#83bff6' },
                    { offset: 0.5, color: '#188df0' },
                    { offset: 1, color: '#188df0' }
                ])
            },
            emphasis: {
                focus: 'series',
                itemStyle: {
                    color: '#fac858'
                }
            },
            barMaxWidth: 40
        }]
    };
    myChart.setOption(option);
</script>
{% endblock %}