{% extends 'partials/_base.html' %}

{% block page_styles %}
    <style>
        {% include './style.css' %}
    </style>
{% endblock %}

{% block body_content %}
    <div class="main-wrapper">
        <h1 class="page-title">{{ data.title }}</h1>
        <div class="top-section">
            <div class="image-section">
                <img src="{{ data.avatar }}" alt="{{ data.bot_name }}" class="bot-image">
            </div>

            <div class="info-section">
                <div class="info-header">
                    <div class="bot-name">{{ data.bot_name }}</div>
                    <div class="tags-container">
                        {% for tag in data.tags %}
                        <span class="el-tag"
                            style="background-color: {{ tag.color | default('#fdf1f5') }}; border-color: {{ tag.color | default('#e5aabe') }}; color: {% if tag.color and tag.color != '#fdf1f5' %}#FFFFFF{% else %}#f384a7{% endif %};">
                            {{ tag.text }}
                        </span>
                        {% endfor %}
                    </div>
                </div>
                <div class="description-section">
                    {% if data.bot_description and data.bot_description.strip() %}
                        <div class="description-content markdown-content">{{ data.bot_description | md | safe }}</div>
                    {% else %}
                        <div class="description-content">
                            <div class="empty-description">暂无介绍信息</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if data.plugin_list and data.plugin_list | length > 0 %}
        <div class="plugins-container">
            <div class="plugins-section">
                <div class="plugins-title">插件有话说</div>
                <div class="plugins-grid">
                    {% for plugin in data.plugin_list %}
                    <div class="plugin-item">
                        {% if plugin.name %}
                        <div class="plugin-name">{{ plugin.name }}</div>
                        {% endif %}
                        <div class="plugin-description">{{ plugin.introduction }}</div>
                        {% if plugin.precautions and plugin.precautions | length > 0 %}
                        <div class="plugin-notes-title">注意事项：</div>
                        <div class="plugin-notes">
                            {% for note in plugin.precautions %}
                            <div class="plugin-note">{{ note }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block footer %}{% include 'partials/_footer.html' %}{% endblock %}
