{# FILE: resources/themes/default/templates/layouts/main.html #}
{% extends 'layouts/_base.html' %}

{% block layout_content %}
    {% if data.options.layout_type == 'column' %}
        {% include 'layouts/column.html' %}
    {% elif data.options.layout_type == 'row' %}
        {% include 'layouts/row.html' %}
    {% elif data.options.layout_type == 'grid' %}
        {% include 'layouts/grid.html' %}
    {% else %}
        <p style="color: red; font-family: sans-serif;">Error: Invalid layout_type '{{ data.options.layout_type }}'</p>
    {% endif %}
{% endblock %}
