.markdown-body {
  color-scheme: dark;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: #ffffff;
  background-color: #262335;
  font-family: "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  font-feature-settings: "kern" 1, "liga" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "palt" on;
  font-feature-settings: "palt" on;
}

.markdown-body .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
  overflow: visible !important;
}



.markdown-body a {
  background-color: transparent;
  color: #f97e72;
  text-decoration: none;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.markdown-body b,
.markdown-body strong {
  font-weight: 600;
}

.markdown-body dfn {
  font-style: italic;
}

.markdown-body small {
  font-size: 90%;
}

.markdown-body sub,
.markdown-body sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.markdown-body sub {
  bottom: -0.25em;
}
.markdown-body sup {
  top: -0.5em;
}

.markdown-body img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: transparent;
}
.markdown-body img[align="right"] {
  padding-left: 20px;
}
.markdown-body img[align="left"] {
  padding-right: 20px;
}

.markdown-body .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.markdown-body g-emoji {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

.markdown-body g-emoji img {
  width: 1em;
  height: 1em;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body h1 {
  margin: 0.67em 0;
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #495495;
}

.markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #495495;
}

.markdown-body h3 {
  font-size: 1.25em;
}
.markdown-body h4 {
  font-size: 1em;
}
.markdown-body h5 {
  font-size: 0.875em;
}
.markdown-body h6 {
  font-size: 0.85em;
  color: #848bbd;
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body ul,
.markdown-body ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.markdown-body ul > li::marker,
.markdown-body ol > li::marker {
  color: #f97e72;
  font-weight: bold;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}
.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body li > p {
  margin-top: 1rem;
}
.markdown-body li + li {
  margin-top: 0.25em;
}

.markdown-body dl {
  padding: 0;
}
.markdown-body dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}
.markdown-body dl dd {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.markdown-body hr {
  height: 0.25em;
  padding: 0;
  margin: 1.5rem 0;
  background-color: #495495;
  border: 0;
  box-sizing: content-box;
  overflow: hidden;
}


.markdown-body kbd {
  display: inline-block;
  padding: 0.25rem;
  font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  line-height: 10px;
  color: #ffffff;
  vertical-align: middle;
  background-color: #241b2f;
  border: solid 1px #495495;
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 #495495;
}

.markdown-body blockquote,
.markdown-body table {
  margin-top: 0;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #495495;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);

}

.markdown-body blockquote {
  padding: 1em 1.5em;
  color: #ffffff;
  border-left: 4px solid #f97e72;
  background-color: rgba(36, 27, 47, 0.5);
}
.markdown-body blockquote > :first-child {
  margin-top: 0;
}
.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  font-variant: tabular-nums;
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #495495;
}

.markdown-body table th {
  font-weight: 600;
  background-color: #241b2f;
  color: #ffffff;
  border-bottom: 2px solid #495495;
}

.markdown-body table tr {
  background-color: #262335;
  border-top: 1px solid #495495;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #241b2f;
}

.markdown-body table td > :last-child {
  margin-bottom: 0;
}

.markdown-body .task-list-item {
  list-style-type: none;
}
.markdown-body .task-list-item label {
  font-weight: 400;
}

.markdown-body .task-list-item + .task-list-item {
  margin-top: 0.25rem;
}
.markdown-body .task-list-item-checkbox {
  margin: 0 0.2em 0.25em -1.4em;
  vertical-align: middle;
}



.markdown-body .anchor {
  float: left;
  padding-right: 0.25rem;
  margin-left: -20px;
  line-height: 1;
}




.markdown-body .markdown-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: inherit;
  border-left: 0.25em solid #495495;
}
.markdown-body .markdown-alert > :first-child {
  margin-top: 0;
}
.markdown-body .markdown-alert > :last-child {
  margin-bottom: 0;
}
.markdown-body .markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1;
}
.markdown-body .markdown-alert.markdown-alert-note {
  border-left-color: #f97e72;
}
.markdown-body .markdown-alert.markdown-alert-note .markdown-alert-title {
  color: #f97e72;
}
.markdown-body .markdown-alert.markdown-alert-important {
  border-left-color: #ff7edb;
}
.markdown-body .markdown-alert.markdown-alert-important .markdown-alert-title {
  color: #ff7edb;
}
.markdown-body .markdown-alert.markdown-alert-warning {
  border-left-color: #fede5d;
}
.markdown-body .markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: #fede5d;
}
.markdown-body .markdown-alert.markdown-alert-tip {
  border-left-color: #72f1b8;
}
.markdown-body .markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: #72f1b8;
}
.markdown-body .markdown-alert.markdown-alert-caution {
  border-left-color: #fe4450;
}
.markdown-body .markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: #fe4450;
}



.markdown-body > *:first-child,
.markdown-body > *:first-child > .heading-element:first-child {
  margin-top: 0 !important;
}

.markdown-body > *:last-child {
  margin-bottom: 0 !important;
}

.markdown-body h1 {
  color: #ff7edb;
  border-bottom: 1px solid #495495;
}

.markdown-body h2 {
  color: #36f9f6;
  border-bottom-color: #495495;
}

.markdown-body h3 {
  color: #72f1b8;
}

.markdown-body h4 {
  color: #fede5d;
}
