

@font-face {
    font-family: fzrzFont;
    /* 导入的字体文件 */
    src: url("../../font/fzrzExtraBold.ttf");
}

@font-face {
    font-family: syhtFont;
    /* 导入的字体文件 */
    src: url("../../font/syht.otf");
}

@font-face {
    font-family: systFont;
    /* 导入的字体文件 */
    src: url("../../font/syst.otf");
}



body {
    position: absolute;
    left: -8px;
    top: -8px;
}

.wrapper{
    /* height: 1321px; */
    width: 637px;
    background-image: url('res/img/bk.jpg');
    background-size: cover;
    position: relative;
    font-family: 'cr105Font';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

.zx-img {
    position: absolute;
    width: 222px;
    bottom: 0;
    right: 3px;
    z-index: 0;
}

.avatar {
    height: 73px;
    width: 73px;
    border-radius: 50%;
    position: absolute;
    left: 35px;
    top: -15px;
    border: #F3868C 1px solid;
}

.avatar-img {
    height: 73px;
    width: 73px;
    border-radius: 50%;
}

.main {
    height: auto;
    width: 100%;
    position: relative;
    background-color: white;
    opacity: 0.9;
    border-radius: 30px;
    padding: 10px;
    box-sizing: border-box;
}

.top-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.head-text {
    font-size: 53px;
    font-family: 'fzrzFont';
    /* color: #F67186; */
    background: linear-gradient(to right, #F67186, #F7889C);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.help-text {
    font-size: 19px;
    font-family: 'systFont';
    /* color: #F67186; */
    background: linear-gradient(to right, #F67186, #F7889C);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.help-text1 {
    font-size: 19px;
    font-family: 'systFont';
    /* color: #F67186; */
    background: linear-gradient(to right, #F67186, #F7889C);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.help-text1 span {
    font-weight: 900;
}

.menu-list {
    width: 100%;
    height: calc(100% - 230px);
    /* background-color: blanchedalmond; */
    /* margin-left: 35px; */
    margin-top: 30px;
    /* float: left; */
    display: flex; /* 使用flex布局 */
    flex-wrap: wrap;
    position: relative;
}


.main-menu {
    /* width: 100%; */
    z-index: 1;
}

.title {
    height: 45px;
    width: 225px;
    background-image: url('res/img/title.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background: linear-gradient(to right, #F67186, #F7889C); */
    font-family: 'fzrzFont';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    border-radius: 16px;
    letter-spacing:4px;
    margin: 0 auto;
}

.plugin-list {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    font-family: 'syhtFont';
    font-size: 25px;
    z-index: 1;
}

.tip-class {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F77B8E;
    font-size: 19px;
    margin: 5px 0;
    font-family: 'fzrzFont';
}

.tip-img {
    height: 30px;
    margin-right: 10px;
}

