.wrapper1 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 450px;
}

.stats-grid {
    gap: 20px;
}

.stat-card {
    border-radius: 15px;
    padding: 15px;
}

.chart-container {
    margin-top: 30px;
}

.logo {
    position: absolute;
    left: 109px;
    top: -6px;
    width: 146px;
}

.title {
    font-family: 'fzrzFont';
    color: var(--color-text-muted);
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: 16px;
    width: 275px;
}

.chart {
  height: 200px;
  width: 360px;
}
