<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{ data.page_title if data else "Rendering Error" }}</title>
    <style>
        {{ theme_css | safe }}
        {% include 'pages/core/help_page/main.css' %}
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>{{ data.bot_nickname }}</h1>
            <p>{{ data.page_title }}</p>
        </div>
        <div class="content">


            {% for category in data.categories if data and data.categories %}

            <div class="category-header">
                <svg viewBox="0 0 24 24">
                    <path d="{{ category.icon_svg_path }}"></path>
                </svg>
                <span>{{ category.title }}</span>
            </div>

            {% set items_list = category['items'] %}
            {% for item in items_list %}
            <div class="item-card">
                <h4>{{ item.name }}</h4>
                <div class="markdown-content">{{ item.description | md | safe }}</div>
                <div class="usage markdown-content">{{ item.usage | md | safe }}</div>
            </div>
            {% endfor %}

            {% endfor %}

        </div>
        <div style="height: 1px; background: #fce4ec; margin: 0 20px 15px 20px;"></div>
        {% include 'partials/_footer.html' %}
    </div>
</body>

{% block page_scripts %}
{% endblock %}

</html>