{% extends 'partials/_base.html' %}

{% block title %}商店{% endblock %}

{% block page_styles %}
    <style>
        {% include './style.css' %}
    </style>
{% endblock %}

{% block body_content %}
    <div class="wrapper">
        <div class="top-title">{{ data.bot_nickname }}的神秘商店</div>
        <div class="top-aaaa">"使用 '购买道具 [道具ID/道具名称]' 购买道具"</div>
        <div class="split" style="margin-top: 30px;"></div>
        <div class="top-head"></div>
        <div class="shop-border">
            {% set left_images = ["qq.png", "xx1.png", "xx2.png"] %}
            {% set right_images = ["1.png", "2.png", "3.png", "4.png", "5.png"] %}
            {% for category in data.categories %}
            <div class="shop-item">
                <div class="shop-item-title">
                    <span class="shop-item-title-text">{{ category.partition_title }}</span>
                </div>
                <div class="shop-item-border">
                    <div class="shop-item-left">
                        <img src="{{ asset('./img/left_right/' + left_images[loop.index0 % left_images|length]) }}" class="shop-item-left-qq left-img" />
                    </div>
                    <div class="shop-item-mid">
                        <div class="shop-item-mid-bk-inner"></div>
                        <div class="shop-item-mid-bk-out">
                            {% for goods in category.goods_list %}
                            <div class="goods-item">
                                <div class="goods-id">
                                    <div class="goods-id-text">{{ goods.id }}</div>
                                </div>
                                <div class="goods-item-left">
                                    <div class="goods-item-left-o"></div>
                                    <div class="goods-item-left-o"></div>
                                    <div class="goods-item-left-o"></div>
                                </div>
                                <div class="goods-item-icon">
                                    {% if goods.limit_time %}
                                    <div class="goods-item-limit-time-border">
                                        <div class="goods-item-limit-time">
                                            限时: {{ goods.limit_time }}
                                        </div>
                                    </div>
                                    <div class="goods-item-icon-center" style="margin-top: 0px;">
                                        <img src="{{ goods.icon_url }}" class="goods-item-icon-img" />
                                    </div>
                                    {% else %}
                                    <div class="goods-item-icon-center" style="margin-top: 0px; height: 100%;">
                                        {% if goods.icon_url %}
                                            <img src="{{ goods.icon_url }}" class="goods-item-icon-img" />
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="goods-item-right">
                                    <div class="goods-item-right-des">
                                        <div class="goods-item-name">{{ goods.name }}</div>
                                        <div class="goods-item-name-line"></div>
                                        {{ goods.description }}
                                    </div>
                                    {% if goods.discount_price is none %}
                                    <div class="goods-item-right-price">
                                        <span>{{ goods.price }}金币</span>
                                        <span class="goods-item-right-btn">
                                            <span class="goods-item-right-btn-buy">立即购买</span>
                                            <span class="goods-item-right-btn-line"></span>
                                            <span class="goods-item-right-btn-limit">限购: {{ goods.daily_limit }}</span>
                                        </span>
                                    </div>
                                    {% else %}
                                    <div class="goods-item-right-price" style="height: 45px;">
                                        <div class="goods-item-right-price-inner">
                                            <p class="original-gold">{{ goods.price }}<span class="gold-text">金币</span></p>
                                            <p class="discount-gold">{{ goods.discount_price }}<span class="gold-text">金币</span></p>
                                        </div>
                                        <span class="goods-item-right-btn">
                                            <span class="goods-item-right-btn-buy">立即购买</span>
                                            <span class="goods-item-right-btn-line"></span>
                                            <span class="goods-item-right-btn-limit">限购: {{ goods.daily_limit }}</span>
                                        </span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <img src="{{ asset('./img/bag1.png') }}" class="shop-item-mid-bag1" />
                        <img src="{{ asset('./img/bag2.png') }}" class="shop-item-mid-bag2" />
                    </div>
                    <div class="shop-item-right">
                        <img src="{{ asset('./img/left_right/' + right_images[loop.index0 % right_images|length]) }}" class="shop-item-right-zx right-img" />
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="split"></div>
        <div class="create-text">Create By ZhenXun</div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
