{% if not frameless %}
<div class="badge-wrapper">
{% endif %}
    <style>
        .badge {
            display: inline-block;
            padding: .35em .65em;
            font-size: .75em;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25rem;
            color: var(--color-text-light);
        }
        .badge.primary { background-color: var(--color-primary); }
        .badge.success { background-color: var(--color-accent-green); }
        .badge.warning { background-color: #E6A23C; }
        .badge.error { background-color: var(--color-accent-red); }
        .badge.info { background-color: #909399; }
    </style>
    <span class="badge {{ data.color_scheme }}">{{ data.text }}</span>
{% if not frameless %}
</div>
{% endif %}
