<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ data.title }}{% endblock %}</title>

    <style>
        {% include 'theme.css.jinja' %}
    </style>

    <script src="{{ theme.asset('js/echarts.min.js') }}"></script>

    <style>
        body { margin: 0; box-sizing: border-box; }
    </style>
    {% block head_extra %}{% endblock %}
</head>
<body>

{% block body_content %}{% endblock %}


    {% block page_scripts %}{% endblock %}

</body>
</html>
