{% extends 'partials/_base.html' %}

{% block title %}用户信息卡片{% endblock %}

{% block page_scripts %}
    {{ super() }}
    <script src="{{ asset('js/echarts.min.js') }}"></script>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('chart'));
        var option = {
            backgroundColor: "#E0899E",
            animation: false,
            xAxis: {
                type: "category",
                data: {{data.chart.labels|dump_json|safe}},
                axisLabel: { color: "#fff", fontSize: 20 },
            },
            yAxis: {
                type: "value",
                axisLabel: { color: "#fff", fontSize: 20 },
            },
            series: [{
                data: {{data.chart.data|dump_json|safe}},
                type: "line",
                smooth: true,
                lineStyle: { color: '#fff', width: 2 },
                label: {
                    normal: {
                        show: true,
                        position: 'top',
                        textStyle: { fontSize: 20, color: '#fff' }
                    }
                }
            }],
        };
        myChart.setOption(option);
    </script>
{% endblock %}

{% block page_styles %}
    <style>
        @font-face {
            font-family: fzrzFont;
            src: url("{{ asset('fonts/HYWenHei-85W.ttf') }}");
        }
        @font-face {
            font-family: systFont;
            src: url("{{ asset('fonts/syst.otf') }}");
        }
        @font-face {
            font-family: syhtFont;
            src: url("{{ asset('fonts/syht.otf') }}");
        }
        {% include './style.css' %}
    </style>
{% endblock %}

{% block body_content %}
    <div class="wrapper">
        <div class="main">
            <div class="main-content">
                <div class="top-date">{{ data.page.date }}......
                    <img src="{{ asset('./img/' + data.page.weather_icon_name + '.png') }}" alt="weather" class="weather-img" />
                    <span style="margin-left: 180px;">{{ data.page.temperature }}℃</span>
                </div>
                <div class="user-info">
                    <div class="user-info-ava">
                        <img src="{{data.info.avatar_url}}" alt="avatar" class="ava-img" />
                        <div class="nickname">{{data.info.title}}</div>
                    </div>
                    <div class="user-info-data">
                        <div class="uname"><span style="font-size: 35px;">姓名:</span><span>{{data.info.nickname}}</span></div>
                        <div style="margin-top: 15px;"><span style="font-size: 35px;">种族:</span><span>{{data.info.race}}</span></div>
                        <div style="margin-top: 15px;"><span style="font-size: 35px;">性别:</span><span>{{data.info.sex}}</span></div>
                        <div style="margin-top: 15px;"><span style="font-size: 35px;">职业:</span><span>{{data.info.occupation}}</span></div>
                        <div style="margin-top: 15px;"><span style="font-size: 35px;">UID:</span><span>{{data.info.uid}}</span></div>
                    </div>
                </div>
                <div class="user-des">
                    <p>个人简介:</p>
                    <div style="line-height: 60px;">{{data.info.description}}</div>
                    <img src="{{ asset('./img/1.png') }}" class="des-img" />
                </div>
            </div>

            <div style="width: 50px;"></div>

            <div class="main-content">
                <div class="menu">
                    <div class="menu-item" style="background-color: #E8BC89;">我的信息</div>
                    <div class="menu-item" style="background-color: #EDCCC3;">我的道具</div>
                    <div class="menu-item" style="background-color: #F0DAC6;">我的卡组</div>
                    <div class="menu-item" style="background-color: #F7E5E4;">我的设置</div>
                </div>
                <div class="tag-img">
                    <div class="tag-img-content"><div class="tag-img-test"></div></div>
                </div>
                <img src="{{ asset('./img/2.png') }}" class="main-img" />
                <div class="sign-data">
                    <p class="base-title">好感度等级: {{data.favorability.level}}级</p>
                    <div>
                        <span class="sign-level {{data.favorability.selected_indices[0]}}">路人</span>
                        <span class="sign-level {{data.favorability.selected_indices[1]}}">陌生</span>
                        <span class="sign-level {{data.favorability.selected_indices[2]}}">初识</span>
                        <span class="sign-level {{data.favorability.selected_indices[3]}}">普通</span>
                        <span class="sign-level {{data.favorability.selected_indices[4]}}">熟悉</span>
                        <span class="sign-level {{data.favorability.selected_indices[5]}}">信赖</span>
                        <span class="sign-level {{data.favorability.selected_indices[6]}}">相知</span>
                        <span class="sign-level {{data.favorability.selected_indices[7]}}">厚谊</span>
                        <span class="sign-level {{data.favorability.selected_indices[8]}}">亲密</span>
                    </div>
                </div>
                <div class="line"></div>
                <div class="test-content" style="margin-top: 30px">
                    <img src="{{ asset('./img/level.png') }}" class="test-icon" />
                    权限等级: {{data.permission_level}}
                </div>
                <div>
                    <div class="text-item">
                        <div class="test-content" style="width: 50%;"><img src="{{ asset('./img/gold.png') }}" class="test-icon" />金币数量: {{data.stats.gold}}</div>
                        <div class="test-content"><img src="{{ asset('./img/prop.png') }}" class="test-icon" />道具数量: {{data.stats.prop_count}}</div>
                    </div>
                    <div class="text-item">
                        <div class="test-content" style="width: 50%;"><img src="{{ asset('./img/call.png') }}" class="test-icon" />调用次数: {{data.stats.call_count}}</div>
                        <div class="test-content"><img src="{{ asset('./img/say.png') }}" class="test-icon" />发言统计: {{data.stats.chat_count}}</div>
                    </div>
                    <div class="text-chart">
                        <div class="test-title"><img src="{{ asset('./img/xian.png') }}" class="test-icon" />发言趋势图</div>
                        <div id="chart" class="chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}