{% include 'partials/_base_card.css' %}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background-card);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "AlibabaHealthFont2";
}
.app-subtitle {
  font-size: 16px;
  color: #f7889c;
  margin: 0;
}

.zx-img1 {
  position: absolute;
  width: 180px;
  bottom: -22px;
  right: -27px;
  z-index: 1;
}

.zx-img3 {
  float: right; 
  width: 180px; 
  height: auto;
  margin-left: 10px;
  margin-bottom: 10px;
  shape-outside: margin-box; 
  border-radius: 8px; 
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.section-content::after {
  content: "";
  display: table;
  clear: both;
}

