:root {
    /* Color Palette */
    --color-primary: {{ theme.palette.colors.primary }};
    --color-text-light: {{ theme.palette.colors.text_light }};
    --color-text-dark: {{ theme.palette.colors.text_dark }};
    --color-text-muted: {{ theme.palette.colors.text_muted }};
    --color-background-main: {{ theme.palette.colors.background_main }};
    --color-background-card: {{ theme.palette.colors.background_card }};
    --color-border-light: {{ theme.palette.colors.border_light }};
    --color-accent-green: {{ theme.palette.colors.accent_green }};
    --color-accent-red: {{ theme.palette.colors.accent_red }};
    --color-accent-blue: {{ theme.palette.colors.accent_blue }};

    /* Table Specific Colors */
    --color-table-header-text: {{ theme.palette.colors.table_header_text }};
    --color-table-bg: {{ theme.palette.colors.table_bg }};
    --color-table-container-bg: {{ theme.palette.colors.table_container_bg }};

    /* Header Specific Colors */
    --color-header-text: {{ theme.palette.colors.header_text }};
    --color-tip-text: {{ theme.palette.colors.tip_text }};

    /* Shop Specific Colors */
    --color-shop-page-bg: {{ theme.palette.colors.shop_page_bg }};
    --color-shop-primary-text: {{ theme.palette.colors.shop_primary_text }};
    --color-shop-card-bg-inner: {{ theme.palette.colors.shop_card_bg_inner }};
    --color-shop-card-border-inner: {{ theme.palette.colors.shop_card_border_inner }};
    --color-shop-card-bg-outer: {{ theme.palette.colors.shop_card_bg_outer }};
    --color-shop-card-border-outer: {{ theme.palette.colors.shop_card_border_outer }};
    --color-shop-item-bg: {{ theme.palette.colors.shop_item_bg }};
    --color-shop-item-border: {{ theme.palette.colors.shop_item_border }};
    --color-shop-item-deco: {{ theme.palette.colors.shop_item_deco }};
    --color-shop-button-bg: {{ theme.palette.colors.shop_button_bg }};
    --color-shop-line-dark: {{ theme.palette.colors.shop_line_dark }};

    /* Font Sizes & Families */ /* [修改] 分类 */
    --font-size-table-header: {{ theme.palette.colors.table_header_font_size }}px;
    --font-size-header: {{ theme.palette.colors.header_font_size }}px;
    --font-header: '{{ theme.palette.colors.header_font_path }}'; /* [新增] */
}

/* Global Font Faces */
@font-face {
    font-family: "AlibabaHealthFont2";
    src: url("{{ theme.asset('fonts/AlibabaHealthFont2.0CN-85B.ttf') }}");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "fzrzFont";
    src: url("{{ theme.asset('fonts/fzrzExtraBold.ttf') }}");
}

@font-face {
    font-family: "systFont";
    src: url("{{ theme.asset('fonts/syst.otf') }}");
}

/* Global Body Styles */
body {
    font-family: "AlibabaHealthFont2", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
